body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4CAF00;
}

/* TOPO COM IMAGEM */
.topo {
    background: white;
    text-align: center;
    padding: 30px 0;
}

.topo img {
    width: 550px;
}

/* FAIXA VERDE (detalhe superior) */
.faixa-topo {
    height: 20px;
    background: linear-gradient(to right,#B0FB06, #0b7d3b, #104591, #00ABF7,#E89B03);
}

/* CONTAINER CENTRAL */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
}

/* BOX LOGIN */
.box {
    text-align: center;
}

/* INPUTS */
input {
    display: block;
    width: 250px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: #e6e6e6;
    text-align: center;
    font-weight: bold;
}

/* LINKS */
.links {
    margin: 15px 0;
}

.links a {
    display: block;
    color: #c8f7c5;
    text-decoration: none;
    font-size: 14px;
    margin: 10px 0;
}

.links a:hover {
    text-decoration: underline;
}

/* BOTÃO */
button {
    margin-top: 10px;
    padding: 10px 25px;
    border-radius: 6px;
    border: none;
    background: #e6e6e6;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #d1d1d1;
}

/* RODAPÉ DECORATIVO */
.rodape {
    position: fixed;/* Mantém o rodapé fixo na tela, mesmo ao rolar a página */

    bottom: 0;/* Posiciona o rodapé colado na parte inferior da tela */

    left: 0;/* Alinha o rodapé ao canto esquerdo */

    width: 105%;/* Faz o rodapé ocupar toda a largura da tela */

    height: 30px;/* Define a altura do rodapé ( pode cortar a imagem se for menor que o tamanho real dela) */

    background: none;/* Remove qualquer cor ou imagem de fundo do rodapé */
}

.rodape img {
    width: 1370px;/* Faz a imagem ocupar toda a largura do rodapé */

    display: block;/* Remove espaços indesejados abaixo da imagem (comportamento padrão de img é inline) */
}

.alerta-style {
    position: fixed;

    top: 20px;
    right: 20px;

    width: 320px;

    background: #ffffff;

    border-radius: 14px;

    padding: 18px 20px;

    box-shadow:
        0 4px 12px rgba(0,0,0,0.15),
        0 2px 6px rgba(0,0,0,0.10);

    font-family: roboto, sans-serif;

    color: #202124;

    font-size: 15px;

    line-height: 1.5;

    z-index: 9999;

    opacity: 0;

    transform: translateY(-15px);

    transition:
        opacity 0.3s ease,
        transform 0.3s ease;

    pointer-events: none;
}

/* Quando aparece */
.alerta-style.show {
    opacity: 1;
    transform: translateY(0);
}